build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/vision_cuda.sln
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-891388f59b7b2fe2cbfb.json
build/.cmake/api/v1/reply/codemodel-v2-3d80d00a73a9b714c802.json
build/.cmake/api/v1/reply/index-2022-03-20T07-46-11-0489.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-363eed6695181908e6bb.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-755535e332f8ff9a27dd.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-a452243c5ff383ac508e.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-bd5d86fbab62fb038a27.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-cfb5021e9a2d1f86fd48.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-363eed6695181908e6bb.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-755535e332f8ff9a27dd.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-a452243c5ff383ac508e.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-bd5d86fbab62fb038a27.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-cfb5021e9a2d1f86fd48.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-363eed6695181908e6bb.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-755535e332f8ff9a27dd.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-a452243c5ff383ac508e.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-bd5d86fbab62fb038a27.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-cfb5021e9a2d1f86fd48.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-363eed6695181908e6bb.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-755535e332f8ff9a27dd.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-a452243c5ff383ac508e.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-bd5d86fbab62fb038a27.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-cfb5021e9a2d1f86fd48.json
build/.cmake/api/v1/reply/target-image-Debug-5e3411cde5b66b62e8c9.json
build/.cmake/api/v1/reply/target-image-MinSizeRel-c01fe4b1f081514e4054.json
build/.cmake/api/v1/reply/target-image-Release-cf548510f58e9ff68953.json
build/.cmake/api/v1/reply/target-image-RelWithDebInfo-90bac4e8801394a3065d.json
build/.cmake/api/v1/reply/target-rgb2gray-Debug-4c62c3ffb92b70c192f4.json
build/.cmake/api/v1/reply/target-rgb2gray-MinSizeRel-c8dea5e2338f0c54961b.json
build/.cmake/api/v1/reply/target-rgb2gray-Release-721c1161a2eddc7aa92e.json
build/.cmake/api/v1/reply/target-rgb2gray-RelWithDebInfo-4bb2f40569fb03a103f3.json
build/.cmake/api/v1/reply/target-sobel-Debug-e0b775da68b3bab5f85e.json
build/.cmake/api/v1/reply/target-sobel-MinSizeRel-a8964110a984fd4f3d1d.json
build/.cmake/api/v1/reply/target-sobel-Release-76e6657bdaa59427e952.json
build/.cmake/api/v1/reply/target-sobel-RelWithDebInfo-9e3269d9ea640e380902.json
build/.cmake/api/v1/reply/target-test-Debug-69d8db93a5a5da34b921.json
build/.cmake/api/v1/reply/target-test-MinSizeRel-3d86ad13b36c1eb28ff2.json
build/.cmake/api/v1/reply/target-test-Release-e65e059c911ed2ff867a.json
build/.cmake/api/v1/reply/target-test-RelWithDebInfo-3cd8565ea19e8f6e9559.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-890632ad712c3ca89f81.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-890632ad712c3ca89f81.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-890632ad712c3ca89f81.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-890632ad712c3ca89f81.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/27b75e7c5533d3f11dc4fd2e7af6a038/generate.stamp.rule
build/CMakeFiles/3.16.0-rc1/CMakeCUDACompiler.cmake
build/CMakeFiles/3.16.0-rc1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.0-rc1/CMakeDetermineCompilerABI_CUDA.bin
build/CMakeFiles/3.16.0-rc1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.0-rc1/CMakeRCCompiler.cmake
build/CMakeFiles/3.16.0-rc1/CMakeSystem.cmake
build/CMakeFiles/3.16.0-rc1/VCTargetsPath.txt
build/CMakeFiles/3.16.0-rc1/VCTargetsPath.vcxproj
build/CMakeFiles/3.16.0-rc1/CompilerIdCUDA/CMakeCUDACompilerId.cu
build/CMakeFiles/3.16.0-rc1/CompilerIdCUDA/CompilerIdCUDA.exe
build/CMakeFiles/3.16.0-rc1/CompilerIdCUDA/CompilerIdCUDA.vcxproj
build/CMakeFiles/3.16.0-rc1/CompilerIdCUDA/Debug/CMakeCUDACompilerId.cu.cache
build/CMakeFiles/3.16.0-rc1/CompilerIdCUDA/Debug/CMakeCUDACompilerId.cu.obj
build/CMakeFiles/3.16.0-rc1/CompilerIdCUDA/Debug/CMakeCUDACompilerId.cu765615747.deps
build/CMakeFiles/3.16.0-rc1/CompilerIdCUDA/Debug/vc141.pdb
build/CMakeFiles/3.16.0-rc1/CompilerIdCUDA/Debug/vcpkg.applocal.log
build/CMakeFiles/3.16.0-rc1/CompilerIdCUDA/Debug/CompilerIdCUDA.tlog/CompilerIdCUDA.lastbuildstate
build/CMakeFiles/3.16.0-rc1/CompilerIdCUDA/Debug/CompilerIdCUDA.tlog/CudaCompile.read.1u.tlog
build/CMakeFiles/3.16.0-rc1/CompilerIdCUDA/Debug/CompilerIdCUDA.tlog/CudaCompile.write.1u.tlog
build/CMakeFiles/3.16.0-rc1/CompilerIdCUDA/Debug/CompilerIdCUDA.tlog/link.command.1.tlog
build/CMakeFiles/3.16.0-rc1/CompilerIdCUDA/Debug/CompilerIdCUDA.tlog/link.read.1.tlog
build/CMakeFiles/3.16.0-rc1/CompilerIdCUDA/Debug/CompilerIdCUDA.tlog/link.write.1.tlog
build/CMakeFiles/3.16.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.16.0-rc1/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.16.0-rc1/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.16.0-rc1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.16.0-rc1/CompilerIdCXX/Debug/vcpkg.applocal.log
build/CMakeFiles/3.16.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.16.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.16.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.16.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.16.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.16.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.16.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.16.0-rc1/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/image/ALL_BUILD.vcxproj
build/image/ALL_BUILD.vcxproj.filters
build/image/cmake_install.cmake
build/image/image.sln
build/image/image.vcxproj
build/image/image.vcxproj.filters
build/image/CMakeFiles/generate.stamp
build/image/CMakeFiles/generate.stamp.depend
build/rgb2gray/ALL_BUILD.vcxproj
build/rgb2gray/ALL_BUILD.vcxproj.filters
build/rgb2gray/cmake_install.cmake
build/rgb2gray/rgb2gray.sln
build/rgb2gray/rgb2gray.vcxproj
build/rgb2gray/rgb2gray.vcxproj.filters
build/rgb2gray/CMakeFiles/generate.stamp
build/rgb2gray/CMakeFiles/generate.stamp.depend
build/sobel/ALL_BUILD.vcxproj
build/sobel/ALL_BUILD.vcxproj.filters
build/sobel/cmake_install.cmake
build/sobel/sobel.sln
build/sobel/sobel.vcxproj
build/sobel/sobel.vcxproj.filters
build/sobel/CMakeFiles/generate.stamp
build/sobel/CMakeFiles/generate.stamp.depend
build/test/ALL_BUILD.vcxproj
build/test/ALL_BUILD.vcxproj.filters
build/test/cmake_install.cmake
build/test/test.sln
build/test/test.vcxproj
build/test/test.vcxproj.filters
build/test/CMakeFiles/generate.stamp
build/test/CMakeFiles/generate.stamp.depend
